.burgersOptions_card__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 3rem 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px dotted white;
}
.burgersOptions_card_description {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.burgersOptions_card_descriptionContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  padding: 0.5rem;
}
#burgersOptions_card_titlePrice {
  display: flex;
  justify-content: space-between;
}
.burgersOptions_card_description {
  max-width: 900px;
  display: flex;
  justify-content: flex-start;
}
.shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0.5rem;
}
.shop button {
  font-weight: bold;
  text-align: center;
  background: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: rgba(225, 246, 62, 0.8);
  color: var(--theme-secondary-color);
  border: none;
  border-radius: 5px;
  transition: all 400ms;
}
.shop button:hover {
  scale: 1.07;

  text-align: center;
  background-color: var(--theme-primary-color);
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.shop_display {
  font-size: 1.1rem;
}

@media (max-width: 640px) {
  .burgersOptions_card__container {
    flex-direction: column-reverse;
    gap: 0;
    margin-bottom: 3rem;
  }
  .burgersOptions_card_description {
    flex-direction: column;
    gap: 0;
  }
  .shop {
    flex-direction: row-reverse;
  }
  #burgersOptions_card_titlePrice {
    flex-direction: column;
    text-align: center;
  }
}
