.formContainer {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  justify-content: center;
  margin: auto;
}

.formGroup {
  margin-bottom: 20px;
}

.label {
  color: var(--theme-primary-color);
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

.input {
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  transition: border 0.3s;
}

.input:focus {
  border-color: var(--theme-primary-color);
  outline: none;
  box-shadow: 0 0 5px rgba(225, 246, 62, 0.5);
}
.formButton {
  display: flex;
  justify-content: center;
}
.isSuccess__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 500px) {
  .formContainer {
  }
}
