#order {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--theme-secondary-color);
  height: 100%;
  padding: 2rem 2rem;
  width: 1000px;
  text-align: center;
  font-family: var(--font-primary);
}
.totalLine {
  display: flex;
  justify-content: end;
  gap: 2rem;
  padding: 0 0.3rem;
}
.order__total {
  text-align: end;
}
.order__nonSelected {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 80px;
}
.itens ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}
.itens li {
  display: flex;
  padding: 0.5rem 0;
  justify-content: space-between;
  border-bottom: 2px dotted white;
}
@media (max-width: 500px) {
  #order {
    padding: 2rem 0.5rem;
  }
}
