:root {
  /* THEMES */
  --theme-primary-color: #bf4904;
  --theme-secondary-color: #f2dfbb;
  --theme-tertiary-color: #f28705;
  --theme-white-color: white;
  --theme-black-color: black;
  --theme-darkgray-color: rgb(22, 22, 22);
  --theme-backtransparent-color: rgba(0, 0, 0, 0.668);
  --font-color: #e3e3e3;
  /* BUTTONS */

  /* Navbar Buttons   */
  --button-background: var(--theme-backtransparent-color);
  --button-color: #f2dfbb;

  /* Hover */
  --button-hover-background: #bf4904;
  --button-hover-color: #f2dfbb;

  /* Button Secondary*/

  --buttonOrder-background: var(--theme-primary-color);
  --buttonOrder-color: rgb(0, 0, 0);

  /* Hover */
  --buttonOrder-hover-background: var(--theme-primary-color);
  --buttonOrder-hover-color: #000;

  /* Fonts */
  --font-primary: "Special Elite", system-ui;
  --font-secondary: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal; */
}
h1 {
  color: var(--theme-tertiary-color);
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: bold;
}
h2 {
  color: var(--theme-primary-color);
  text-transform: uppercase;
  font-weight: bold;
}
h3 {
  color: var(--theme-primary-color);
  text-transform: uppercase;
}
