:root {
  /* THEMES */
  --theme-primary-color: rgba(225, 246, 62);
  --font-color: #fff;
  --theme-secondary-color: #000;
  /* BUTTONS */

  /* Navbar Buttons   */
  --button-background: rgba(0, 0, 0, 0.668);
  --button-color: #fff;
  /* Hover */
  --button-hover-background: #000;
  --button-hover-color: rgb(225, 246, 62);

  /* Button Secondary*/

  --buttonOrder-background: var(--theme-primary-color);
  --buttonOrder-color: rgb(0, 0, 0);

  /* Hover */
  --buttonOrder-hover-background: var(--theme-primary-color);
  --buttonOrder-hover-color: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--font-color);

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1 {
  color: var(--theme-primary-color);
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: bold;
}
h2 {
  color: var(--theme-primary-color);
  text-transform: uppercase;
  font-weight: bold;
}
h3 {
  color: var(--theme-primary-color);
  text-transform: uppercase;
}
