.home {
  position: relative;
  height: 100vh;
  color: var(--font-color);
}
.home__background {
  filter: brightness(35%);
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
}
.home__backgroundImage {
  object-fit: cover;
}
.home__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 3rem;
  height: 100%;
  font-family: var(--font-secondary);
}
.home__title {
  font-family: var(--font-primary);
}
