.card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card__elements {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  margin: 1rem;
  font-family: var(--font-secondary);
  color: var(--font-color);
  line-height: 1.5rem;
  min-height: 20rem;
  width: 20rem;
  background-color: var(--theme-black-color);
  border-radius: 5px;
  box-shadow: 3px 3px 11px 3px #00000075;
}
.card__title {
  font-family: var(--font-primary);
  text-align: center;
}
