.galleryContainer {
  background-color: var(--theme-secondary-color);
  padding: 2rem;
}
.galleryContainer h1 {
  text-align: center;
  padding-bottom: 1rem;
}
.galleryElements {
  background-color: rgb(49, 49, 49);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  padding: 2rem;
}
.photosContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: var(--font-primary);
  color: var(--theme-secondary-color);
  padding: 1rem 2rem;
}
.photosContainer label {
  background-color: var(--theme-primary-color);
  padding: 1rem 0;
  font-weight: bold;
  font-size: 18px;
}
.photo {
  border: 2px solid var(--theme-primary-color);
}
