.gallery {
  background-color: var(--theme-black-color);
  padding: 2rem 0;
}
.gallery__title {
  font-family: var(--font-secondary);
  text-align: center;
  padding-bottom: 1rem 2rem;
}
.gallery__elements {
  background-color: var(--theme-black-color);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  padding: 2rem 12%;
}

.gallery__photoCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: var(--font-primary);
  color: var(--theme-secondary-color);
  border: 3px solid var(--theme-primary-color);
  height: auto;
  width: 360px;
}
.gallery__photoCard img {
  width: 100%;
  height: auto;
}
.gallery__photoCard label {
  background-color: var(--theme-primary-color);
  padding: 1rem 0;
  font-weight: bold;
  font-size: 18px;
}
.gallery__slider {
  background-color: var(--theme-secondary-color);
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}
@media (max-width: 480px) {
  .gallery__photoCard {
    width: 240px;
  }
}
@media (max-width: 320px) {
  .gallery__photoCard {
    width: auto;
  }
}
