.galleryContainer {
  background-color: var(--theme-secondary-color);
  padding: 1rem;
}
.galleryContainer h1 {
  font-family: var(--font-secondary);
  text-align: center;
  padding-bottom: 1rem;
}
.galleryElements {
  background-color: rgb(49, 49, 49);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem 0;
  gap: 1rem;
}

.photosContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: var(--font-primary);
  color: var(--theme-secondary-color);
  border: 3px solid var(--theme-primary-color);
  height: auto;
  width: 360px;
}
.photosContainer img {
  width: 100%;
  height: auto;
}
.photosContainer label {
  background-color: var(--theme-primary-color);
  padding: 1rem 0;
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 480px) {
  .photosContainer {
    width: 240px;
  }
}
@media (max-width: 320px) {
  .photosContainer {
    width: auto;
  }
}
